### Exercise 01

In [2]:
print('The Type of the "Filoger" is {f}'.format(f = 'string'))
print('The Type of the "19" is {f}'.format(f = 'string'))
print('The Type of the 18 is {f}'.format(f = 'integer'))
print('The Type of the 13.0 is {f}'.format(f = 'float'))
print('The Type of the True is {f}'.format(f = 'boolean'))

The Type of the "Filoger" is string
The Type of the "19" is string
The Type of the 18 is integer
The Type of the 13.0 is float
The Type of the True is boolean

### Exercise 02

In [3]:
print('The Integer Conversion of the "Filoger" is {f}'.format(f = "None"))
print('The Integer Conversion of the "19" is {f}'.format(f = int("19")))
print('The Integer Conversion of the 18 is {f}'.format(f = int(18)))
print('The Integer Conversion of the 13.0 is {f}'.format(f = int(13.0)))
print('The Integer Conversion of the True is {f}'.format(f = int(True)))

The Integer Conversion of the "Filoger" is None
The Integer Conversion of the "19" is 19
The Integer Conversion of the 18 is 18
The Integer Conversion of the 13.0 is 13
The Integer Conversion of the True is 1

### Exercise 03

In [4]:
from pytictoc import TicToc
t = TicToc()
print("Filoger:"); t.tic(); type("Filoger"); t.toc()
print("'19':"); t.tic(); type("19"); t.toc()
print("18:"); t.tic(); type(18); t.toc()
print("13.0:"); t.tic(); type(13.0); t.toc()
print("True:"); t.tic(); type(True); t.toc()

Filoger:
Elapsed time is 0.000119 seconds.
'19':
Elapsed time is 0.000113 seconds.
18:
Elapsed time is 0.000075 seconds.
13.0:
Elapsed time is 0.000128 seconds.
True:
Elapsed time is 0.000236 seconds.

### Exercise 04

In [6]:
Diameter = float(input('Enter the Diameter value:'))
Area = (3.14159*Diameter**2)/4
print("Circle area is {r:1.3f}".format(r=Area))

Circle area is 163312.415

### Exercise 05

In [9]:
width = float(input('Enter the Width value:'))
height = float(input('Enter the Height value:'))
length = float(input('Enter the Length value:'))
volume = width*height*length
surface = 2*(length*width + width*height + length*height)
print("Volume of cuboid is {v:1.2f} and Surface area of cuboid is {s:1.3f}!".format(v = volume, s = surface))

Volume of cuboid is 125.00 and Surface area of cuboid is 150.000!

### Exercise 06

In [10]:
N1,N2 = [float(x) for x in input('Enter Two Numbers with a space between:').split()]
print('sum={s}, division={d}, substraction={sub}, multiplication={m}' \
       .format(s=int(N1+N2),d=int(N1/N2),sub=int(N1-N2),m=int(N1*N2)))

sum=12, division=2, substraction=4, multiplication=32

### Exercise 07

In [12]:
str1, str2 = input('Write two separate strings with a space that separates them:').split()
print('result is ' + '"' + str1 + ' ' + str2 + '"')

result is "Fanap filoger"

### Exercise 08

In [13]:
fn = float(input('Enter Temperature in Fahrenheit:'))
cel = (fn - 32) * 5/9
print('{fn} degree Fahrenheit is equal to {cel:1.1f} degree Celsius.'.format(fn=int(fn),cel=cel))

5 degree Fahrenheit is equal to -15.0 degree Celsius.

### Exercise 09

In [14]:
a = [8, 120, 83, 89, 24, 97.5, 201]
print(max(a))

201

### Exercise 10

In [15]:
Number = int(input('Enter a Number to Calculate its Factorial:'))

Factorial = 1
if Number < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif Number == 0:
   print("Factorial of 0 is 1")
else:
   for i in range(1,Number + 1):
       Factorial = Factorial*i
   print('Factorial of {N} is {f}'.format(N=Number,f=Factorial))

Factorial of 4 is 24

### Exercise 11

In [ ]:
from random import randint

desired_num = randint(1,100)

while (True):
    guessed_num = int(input('Enter a Number:'))
    if guessed_num > desired_num:
        print("Wrong, Guess the lower number!")
    elif guessed_num < desired_num:
        print("Wrong, Guess the higher number!")
    elif guessed_num == desired_num:
        print("Correct, good job")
        break

### Exercise 12

In [16]:
for i in range(11):
    print('{} x {} = {}'.format(i,i,i**2))

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

### Exercise 13

In [17]:
n = int(input('Input Number:'))
sum = 0
for i in range(n+1):
    sum = sum + i
print('The sum of all numbers is {}.'.format(sum))

The sum of all numbers is 15.

### Exercise 14

In [19]:
L = ['banana', 'orange', 'mango', 'lemon']

L1 = []
for i in range(len(L)):
    L1.append(L[len(L)-i-1])

print(L1)

['lemon', 'mango', 'orange', 'banana']

fasdfafasdl;akjgaglkjahglkjagag

fajsdkfjasfakl;f